!!!
%head
  %meta{:name => 'viewport', :content => 'width=device-width'}
  %link{:href => 'stylesheets/foundation.min.css', :rel => 'stylesheet'}
  %link{:href => 'stylesheets/style.css', :rel => 'stylesheet'}
  %script{:src => 'js/foundation.min.js'}

%body
  %h2.center{:style => 'padding: 50px'}= @chord
  %form{:action => '/'}
    %p.center
      %button{:type => 'submit', :class => 'button'}New Chord
